/* Estilo general del contenedor */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Estilo del formulario */
.form-container {
  margin-bottom: 30px;
}

/* Título */
h2 {
  text-align: center;
  color: #3498db;
}

/* Agrupación de elementos del formulario */
.form-group {
  margin-bottom: 15px;
}

/* Estilo de las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilo de los campos de entrada */
input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del área de texto */
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo de los mensajes de error */
.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/* Estilo de los botones */
button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #2980b9;
}

/* Agrupación de botones */
.button-group {
  margin-top: 10px;
}

/* Estilo de los datos cifrados y descifrados */
.encrypted-container,
.decrypted-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
